{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/img/img.njk' as Img %}
{% import 'components/share/share.njk' as Share %}
{% import 'components/slider/slider_card2.njk' as SliderLotti %}

{% macro content(obj) %}

  {% set componentClassName = 'c-modsection3' %}

  {% set configDefault = {
    "className": [""],
    "titleTag" : "h6"
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}

  {# Creates new arrays for manipulation) #}
  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  {# HTML HERE #}

  <div class="{{_className | join(" ") | trim}} c-modsection" data-value="Sezione_Lotti">
    <div class="{{componentClassName}}__inner">
        {{ SliderLotti.content() }}
    </div>
  </div>

{% endmacro %}
