<!-- FORM CREATED WITH CONTACT FORM 7 -->

<div class="wpcf7 js" id="wpcf7-f32-o1" lang="it-IT" dir="ltr">
<div class="screen-reader-response"><p role="status" aria-live="polite" aria-atomic="true"></p> <ul></ul></div>
<form action="####" method="post" class="wpcf7-form init" aria-label="Modulo di contatto" novalidate="novalidate" data-status="init">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="32">
<input type="hidden" name="_wpcf7_version" value="5.7.7">
<input type="hidden" name="_wpcf7_locale" value="it_IT">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f32-o1">
<input type="hidden" name="_wpcf7_container_post" value="0">
<input type="hidden" name="_wpcf7_posted_data_hash" value="">
</div>
<div class="c-form">
	<div class="c-form__row row gx-2">
		<div class="col-12 col-md-6 c-form__field">
			<p><label class="c-form__field-label">Nome</label><br>
<span class="wpcf7-form-control-wrap" data-name="zk-nome"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Nome" value="" type="text" name="zk-nome"></span>
			</p>
		</div>
		<div class="col-12 col-md-6 c-form__field">
			<p><label class="c-form__field-label">Cognome</label><br>
<span class="wpcf7-form-control-wrap" data-name="zk-cognome"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true" aria-invalid="false" placeholder="Cognome" value="" type="text" name="zk-cognome"></span>
			</p>
		</div>
	</div>
	<div class="c-form__row row gx-2">
		<div class="col-12 col-md-6 c-form__field">
			<p><label class="c-form__field-label">Email</label><br>
<span class="wpcf7-form-control-wrap" data-name="zk-email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Email" value="" type="email" name="zk-email"></span>
			</p>
		</div>
		<div class="col-12 col-md-6 c-form__field">
			<p><label class="c-form__field-label">Telefono</label><br>
<span class="wpcf7-form-control-wrap" data-name="zk-telefono"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel" aria-required="true" aria-invalid="false" placeholder="Telefono" value="" type="tel" name="zk-telefono"></span>
			</p>
		</div>
	</div>
	<div class="c-form__row row gx-2">
		<div class="col-12 col-md-6 c-form__field">
			<p><label class="c-form__field-label" for="Tipologia">A quale tipologia sei interessato</label><br>
<span class="wpcf7-form-control-wrap" data-name="zk-tipologia"><select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" id="Tipologia" aria-required="true" aria-invalid="false" name="zk-tipologia"><option value="Bifamiliare grande">Bifamiliare grande</option><option value="Bifamiliare piccola">Bifamiliare piccola</option><option value="Appartamenti">Appartamenti</option><option value="Monofamiliare">Monofamiliare</option></select></span>
			</p>
		</div>
		<div class="col-12 col-md-6 c-form__field">
			<p><label class="c-form__field-label" for="Lotto">Ti interessa un lotto particolare</label><br>
<span class="wpcf7-form-control-wrap" data-name="zk-lotto"><select class="wpcf7-form-control wpcf7-select wpcf7-validates-as-required" id="Lotto" aria-required="true" aria-invalid="false" name="zk-lotto"><option value="Villetta1">Villetta1</option><option value="Villetta2">Villetta2</option><option value="Villetta3">Villetta3</option></select></span>
			</p>
		</div>
	</div>
	<div class="c-form__row row gx-2">
		<div class="col-12 c-form__field c-form__radio">
			<p><label class="c-form__field-label d-block mb-4">Come preferisci essere ricontattato?*</label>
			</p>
			<p><span class="wpcf7-form-control-wrap" data-name="zk-contatto"><span class="wpcf7-form-control wpcf7-radio"><span class="wpcf7-list-item first"><input type="radio" name="zk-contatto" value="Email"><span class="wpcf7-list-item-label">Email</span></span><span class="wpcf7-list-item last"><input type="radio" name="zk-contatto" value="Telefono"><span class="wpcf7-list-item-label">Telefono</span></span></span></span>
			</p>
		</div>
	</div>
	<div class="c-form__row row gx-2 align-items-baseline">
		<div class="col-12 col-md-6 c-form__checkbox c-form__field">
			<p><span class="wpcf7-form-control-wrap" data-name="acceptance-464"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><input type="checkbox" name="acceptance-464" value="1" id="gridCheck" aria-invalid="false"></span></span></span><br>
<label class="c-form__field-label">Acconsento al trattamento dei dati personali secondo la Privacy Policy*</label>
			</p>
		</div>
		<div class="col-12 col-md-6 c-form__submit text-end">
			<p><input class="wpcf7-form-control has-spinner wpcf7-submit c-btn c-btn1 c-btn--primary-light c-btn1--size-m" type="submit" value="Invia la richiesta" disabled=""><span class="wpcf7-spinner"></span>
			</p>
		</div>
	</div>
</div>
{# <div class="wpcf7-response-output" aria-hidden="true"></div> #}
</form>
</div>



<!-- Codice usato in contact form
                  <div class="c-form">
                    <div class="c-form__row row gx-2">
                      <div class="col-12 col-md-6 c-form__field">
                        <label class="c-form__field-label">Nome</label>
                        [text* zk-nome placeholder "Nome"]
                      </div>
                      <div class="col-12 col-md-6 c-form__field">
                        <label class="c-form__field-label">Cognome</label>
                        [text* zk-cognome placeholder "Cognome"]
                      </div>
                    </div>
                    <div class="c-form__row row gx-2">
                      <div class="col-12 col-md-6 c-form__field">
                        <label class="c-form__field-label">Email</label>
                        [email* zk-email placeholder "Email"]
                      </div>
                      <div class="col-12 col-md-6 c-form__field">
                        <label class="c-form__field-label">Telefono</label>
                        [tel* zk-telefono placeholder "Telefono"]
                      </div>
                    </div>
                    <div class="c-form__row row gx-2">
                      <div class="col-12 col-md-6 c-form__field">
                        <label class="c-form__field-label" for="Tipologia">A quale tipologia sei interessato</label>
                        [select* zk-tipologia  id:Tipologia "Bifamiliare grande" "Bifamiliare piccola" "Appartamenti" "Monofamiliare"]
                      </div>
                      <div class="col-12 col-md-6 c-form__field">
                        <label class="c-form__field-label" for="Lotto">Ti interessa un lotto particolare</label>
                        [select* zk-lotto id:Lotto "Villetta1" "Villetta2" "Villetta3"]
                      </div>
                    </div>
                    <div class="c-form__row row gx-2">
                      <div class="col-12 c-form__field c-form__radio">
                        <span class="c-form__field-label d-block mb-4">Come preferisci essere ricontattato?*</span>
                        [radio zk-contatto "Email" "Telefono"]
                      </div>
                    </div>
                    <div class="c-form__row row gx-2 align-items-baseline">
                      <div class="col-12 col-md-6 c-form__checkbox c-form__field">
                        [acceptance acceptance-464 id:gridCheck]
                        <label class="c-form__field-label">Acconsento al trattamento dei dati personali secondo la Privacy Policy*</label>
                      </div>
                      <div class="col-12 col-md-6 c-form__submit text-end">
                       [submit class:c-btn class: c-btn--primary--light class:c-btn1 class: c-btn--size-m "Invia la richiesta"]
                      </div>
                    </div>
                </div>
-->



<!--- Codice Form standard inziale

            <form>
              <div class="c-form">
                <div class="c-form__row row gx-2">
                  <div class="col-12 col-md-6 c-form__field">
                      <label class="c-form__field-label">Nome</label>
                      <input type="text" placeholder="Input text" class=""/>
                  </div>
                  <div class="col-12 col-md-6 c-form__field">
                    <label class="c-form__field-label">Cognome</label>
                    <input type="text" placeholder="Input text" class=""/>
                  </div>
                </div>
                <div class="c-form__row row gx-2">
                  <div class="col-12 col-md-6 c-form__field">
                    <label class="c-form__field-label">Email</label>
                    <input type="text" placeholder="Input text" class=""/>
                  </div>
                  <div class="col-12 col-md-6 c-form__field">
                    <label class="c-form__field-label">Telefono</label>
                    <input type="text" placeholder="Input text" class=""/>
                  </div>
                </div>
                <div class="c-form__row row gx-2">
                  <div class="col-12 col-md-6 c-form__field">
                    <label class="c-form__field-label">A quale tipologia sei interessato</label>
                    <select class="">
                              <option value="">Select</option>
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                          </select>
                  </div>
                  <div class="col-12 col-md-6 c-form__field">
                    <label class="c-form__field-label">Ti interessa un lotto particolare</label>
                    <select class="">
                              <option value="">Select</option>
                              <option value="">1</option>
                              <option value="">2</option>
                              <option value="">3</option>
                          </select>
                  </div>
                </div>
                <div class="c-form__row row gx-2">
                  <div class="col-12 c-form__field c-form__radio">
                    <span class="c-form__field-label d-block mb-4">Come preferisci essere ricontattato?*</span>
                    <label>
                      <input type="radio" class=""/>
                      <span class="c-form__radio-label">Email</span>
                    </label>
                    <label>
                      <input type="radio" class=""/>
                      <span class="c-form__radio-label">Telefono</span>
                    </label>
                  </div>
                </div>
                <div class="c-form__row row gx-2 align-items-baseline">
                  <div class="col-12 col-md-6 c-form__checkbox c-form__field">
                        <input type="checkbox" class=""/>
                        <label class="c-form__field-label">Acconsento al trattamento dei dati personali secondo la Privacy Policy*</label>
                  </div>
                  <div class="col-12 col-md-6 c-form__submit text-end">
                    <input class="c-btn c-btn--primary-light c-btn1 c-btn1--size-m" type="submit" value="Invia la richiesta">
                  </div>
                </div>
              </div>
            </div>
          </form>

-->
