{% import 'components/textblock/textblock.njk' as Textblock %}


<div class="c-displayblock1 zaux-theme--light1" id="Info">
    <div class="c-displayblock1__inner container-l py-8 pt-md-12 pb-md-14">
      <div class="c-displayblock1__row c-wrapper--w1">
        {{ Textblock.content({
          "title": "A due passi dalla città di Pisa",
          "content": "A Ghezzano, nel comune di San Giuliano Terme alle porte nord di Pisa, quasi ne fosse un quartiere, sorge il nostro nuovo complesso residenziale.
Un intervento edilizio esclusivo e prestigioso che ospita la tua prossima casa, sia essa una villetta indipendente, bifamiliare o un comodo appartamento, immerso nel verde e nella tranquillità eppure così vicino a tutti i servizi  e i comfort che offre una delle città più iconiche della Toscana, raggiungibile anche attraverso una pista ciclabile.

Gli edifici del complesso sono progettati e realizzati nel rispetto dell’ambiente e del contesto architettonico che li circonda e avendo cura di garantire il tuo comfort e la tua sicurezza, a partire dai materiali impiegati nella costruzione fino ad arrivare all’impiantistica, passando per le tecnologie più moderne del settore.

Tutte le soluzioni di Ghezzano Green Village, che siano appartamenti, ville bifamiliari o ville singole,  hanno rifiniture di pregio, classe energetica A+, giardini privati con resede per una o più auto in un contesto urbano studiato e ricco di aree comuni, zone alberate e parcheggi pubblici per gli ospiti.",
        "listing": "y"
        })}}
      </div>
    </div>
  </div>
