{% import 'components/textblock/textblock.njk' as Textblock %}

<div class="c-displayblock2 zaux-theme--dark1">
    <div class="c-displayblock2__inner container-l zaux-bg-set1-darkgreen pt-6 pt-md-8">
      <div class="c-displayblock2__content c-wrapper--w1">
        {{ Textblock.content({
          "title": "Tu al centro",
          "content": "Ghezzano Green Village è progettato a misura d’uomo, per favorirne il benessere psicofisico in un equilibrio di forme, colori, verde senza rinunciare al comfort. Un rifugio a pochi passi dal centro di Pisa in cui ridurre lo stress, trovare la concentrazione, sentirsi legato al territorio e alla comunità pur mantenendo una propria indipendenza e i corretti spazi vitali individuali. Nella tua nuova casa avrai modo d’instaurare un rapporto sensoriale con la natura, con i suoi ritmi, le sue luci, i suoi stimoli uditivi e tattili, capaci di rigenerarti costantemente, farti sentire parte di un ecosistema.
Avrai la possibilità di gettare lo sguardo verso l’orizzonte senza barriere, trarne ispirazione e benessere.

Per questi motivi abbiamo premiato la scelta di una costruzione  con materiali innovativi e a basso impatto ambientale, con sistemi energetici e tecnologici a basso consumo. Il design del complesso è progettato per integrarsi naturalmente con il territorio  divenendone un’estensione non artificiale, senza inquinare l’estetica paesaggistica ed ambientale.",
        "img": "y"
        })}}
      </div>
    </div>
  </div>
