{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_component,
  "title": "Hero slider"
} %}

{# Imports components #}
{# import 'components/herovideo/herovideo.njk' as HeroVideo #}
{% import 'components/heroslider/heroslider.njk' as HeroSlider %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

    {{
        HeroSlider.content()
    }}

{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
