{# Sets the layout to be extended #}
{% extends "layouts/component.njk" %}

{# Sets page-specific variables #}
{% set page = {
  "data": page_home,
  "title": "Home",
  "isHome": true
} %}

{# Imports components #}
{# import 'components/herovideo/herovideo.njk' as HeroVideo #}
{% import 'components/pagination/pagination.njk' as Pagination %}

{% block head_css %}
  <link rel="stylesheet" href="../assets/css/general.bundle.css">
{% endblock %}

{% block content %}

    <div class="p-5">
        {{
            Pagination.content( { "className" : [""] } )
        }}
    </div>

{% endblock %}

{% block foot_js %}
  <script defer src="../assets/js/general.bundle.js"></script>
{% endblock %}
