{% macro content(obj) %}

  {% set componentClassName = 'c-icon' %}

  {% set configDefault = {
    "tag": "i",
    "className": []
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}
  {% set _iconFullName = obj.iconName %}

  {# Creates new arrays for manipulation) #}
  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  {% set _className = (_className.push(_iconFullName + "-" + "wrapper"), _className) %}

  <{{obj.tag}} class="{{_className | join(" ")}}"{% if not obj.ariaHidden %} aria-hidden="true"{% endif %}{{ (" style=\"" + (obj.attrStyle) + "\"")|safe if obj.attrStyle }}>
    <svg class="icozaux1-{{_iconFullName}}">
      <use xlink:href="{{icons[obj.iconFamily].url}}#icozaux1-{{_iconFullName}}"></use>
    </svg>
  </{{obj.tag}}>

{% endmacro %}
