@charset "UTF-8";

@import "../../assets/scss/components/base";

$component: componentClass("typo");

@mixin c-typo-fs($fs: false, $lh: false, $valueSuffix: "") {
  @if $fs {
    font-size: #{rem($fs)}#{$valueSuffix};
  }
  @if $lh {
    line-height: #{rem($lh)}#{$valueSuffix};
  }
}

@mixin c-typo-text-rules(
  $prefix-name: "fs",
  $child-selector: "",
  $isImportant: false
) {
  $valueSuffix: "" !default;

  @if ($isImportant) {
    $valueSuffix: " !important";
  }

  @each $i, $props in tokenTypoSizes() {
    .#{$component}-#{$prefix-name}-#{$i} #{$child-selector} {
      @include c-typo-fs(
        tokenTypoSizeFs($i),
        tokenTypoSizeLh($i),
        $valueSuffix
      );
    }
  }
}

@mixin c-typo-text-rules-responsive(
  $prefix-name: "fs",
  $child-selector: "",
  $isImportant: false
) {
  $valueSuffix: "" !default;

  @if ($isImportant) {
    $valueSuffix: " !important";
  }

  @each $i, $props in tokenTypoSizes() {
    @each $k in tokenTypoBreakpoints() {
      @if not($k == "xs") {
        @include media-breakpoint-up(#{$k}) {
          .#{$component}-#{$prefix-name}-#{$k}-#{$i} #{$child-selector} {
            @include c-typo-fs(
              tokenTypoSizeFs($i),
              tokenTypoSizeLh($i),
              $valueSuffix
            );
          }
        }
      }
    }
  }
}

////////////////////////////////////////////////////
// Custom block rules
////////////////////////////////////////////////////
@mixin typoFix1 {
  font-size: clamp(22px, 2.625rem, 32px) !important;
  line-height: clamp(26px, 2.875rem, 36px) !important;
}

@mixin typoFix2 {
  font-size: clamp(12px, 1rem, 15px) !important;
  line-height: clamp(14px, 1.625rem, 25px) !important;
}
