{# Imports components #}
{% import 'components/icon/icon.njk' as Icon %}
{% import 'components/btn/btn.njk' as Button %}
{% import 'components/img/img.njk' as Img %}
{% import 'components/share/share.njk' as Share %}

{% macro content(obj) %}

  {% set componentClassName = 'c-textlogoblock' %}

  {% set configDefault = {
    "className": [""],
    "titleTag" : "h6"
  }%}

  {% set obj = configDefault | overwriteMerge(obj or {}) %}
  {% set sliderId = "sliderID" + range(1,1000) | random  %}

  {# Creates new arrays for manipulation) #}
  {% set _className = [componentClassName] | mergeArray(obj.className or configDefault.className) %}

  {# HTML HERE #}

  <div class="{{_className | join(" ") | trim}}">
    <div class="{{componentClassName}}__inner c-wrapper--w2">
      <h3 class="{{componentClassName}}__title text-center font-zaux2 fw-semi c-typo-fs-12 c-typo-fs-md-15 mb-6">
          {{ obj.title }}
      </h3>
      <div class="d-flex justify-content-between flex-column flex-md-row">
        <div class="{{componentClassName}}__img">
          {{
                  Img.content(obj.img)
                }}
        </div>
        <div class="{{componentClassName}}__content">
          <div class="{{componentClassName}}__content--txt c-typo-style1-6 fw-light">
            <p>{{ obj.content }}</p>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endmacro %}
